#slide{
    .carousel-inner{
        margin-top: 113px;
        .carousel-item{
            background-position: top center;
            background-size: cover;
            .cuadro-azul{
                position: absolute;
                top: 0;
                right: 0;
                width: 60%;
                min-width: 160px;
                height: 100%;
                background-color: $azul;
            }
            .titulo-slide{
                font-weight: 800;
                color: $azul;
                margin-bottom: 1.5rem;
                @include mobile{
                    font-size: 2rem;
                    line-height: 2.5rem;
                }
                @include tablet{
                    font-size: 2.5rem;
                    line-height: 3rem;
                }
                @include desktop{
                    font-size: 3rem;
                    line-height: 3.5rem;
                }
                .marker{
                    background-color: $azul;
                    padding: 0 .5rem;
                    color: $amarillo;
                    text-transform: uppercase;
                    @include mobile{
                        line-height: 2rem;
                    }
                    @include tablet{
                        line-height: 4rem;
                    }
                }
            }
            .subtitulo-slide{
                color: $azul-oscuro;
                text-transform: uppercase;
                font-weight: 700;
                line-height: 1.2;
                @include mobile{
                    font-size: 1.2rem;
                }
                @include tablet{
                    font-size: 1.5rem;
                }
                @include desktop{
                    font-size: 2rem;
                }
            }
            .precio-slide{
                background-color: $amarillo;
                padding: .2rem .6rem;
                color: $azul-oscuro;
                p{
                    margin: 0;
                    @include mobile{
                        font-size: 1rem;
                    }
                    @include desktop{
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
    .carousel-indicators{
        bottom: 2rem;
        button{
            width: 1rem!important;
            height: 1rem!important;
            border-radius: 50%!important;
            background-color: $blanco;
            &.active{
                background-color: $azul;
            }
        }
    }
    .carousel-control-prev,
    .carousel-control-next{
        width: 7%;
    }
}
#nosotros{
    img{
        margin-top: -2rem;
        position: relative
    }
}
.producto{
    .lightgallery{
        li{
            border: 1px solid #e3e3e3;
            overflow: hidden;
            aspect-ratio: 1;
            a{
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    transition: all .3s ease-in;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
    .precios{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        .precio{
            display: inline;
            margin: 0;
            text-transform: uppercase;
            font-weight: 600;
            span{
                font-size: 24px;
                font-weight: 700;
                display: block;
            }
            &.oferta{
                color: $azul;
            }
            &.original{
                color: #888;
                span{
                    text-decoration: line-through;
                }
            }
        }
    }
    .nav-pills{
        gap: .5rem;
        .nav-link{
            background-color: #E9EFFF;
            color: $azul-oscuro;
            border-radius: 10px;
            &.active{
                background-color: $azul-oscuro;
                color: $blanco;
            }
        }
    }
    .accordion{
        .accordion-item{
            background-color: transparent;
            .accordion-header{
                border-bottom: 1px solid #e3e3e3;
                .accordion-button{
                    text-transform: uppercase;
                    font-weight: 500;
                    background-color: transparent;
                    padding-inline:.5rem;
                    color: #444;
                }
            }
            .accordion-body{
                padding: .5rem 0;
                .table{
                    font-size: 14px;
                    color: #666;
                    td,th{
                        background-color: transparent;
                    }
                    th{
                        font-weight: 600;
                    }
                }
            }
        }
    }
}
#contacto{
    background-color: #3F424A;
    background-image: url('../img/contacto.jpg');
    background-blend-mode: multiply;
    background-size: cover;
    .contact-info{
        background-color: $azul;
        padding: 2.5rem 1.5rem;
        margin-top: -1.5rem;
        i{
            color: $amarillo;
        }
        .mapa{
            border-radius: 8px;
            overflow: hidden;aspect-ratio: 1.6;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
    }
    .form-floating{
        .form-control{
            border-radius: 0;
            background-color: rgba(265,265,265,.3);
            color: $blanco;
            &.msj{
                min-height: 200px;
                max-height: 200px;
            }
            &:is(:focus){
                background-color: rgba(265,265,265,.3);
            }
        }
        label{
            color: $blanco;
            &::after{
                background-color: transparent;
            }
        }
    }
}