body{
    font-family: "Poppins", sans-serif;
    color: #666;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
}
p{
    font-weight: 300;
}
.titulo{
    font-size: 2.2rem;
    color: $azul-oscuro;
    font-weight: 700;
    .top-titulo{
        color: $amarillo;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        display: block;
    }
}
.titulo-small{
    font-size: 20px;
    color: $azul-oscuro;
    font-weight: 700;
}
.linea-amarilla{
    height: 1px;
    width: 100%;
    background-color: $amarillo;
}
.separador{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    &::before,
    &::after{
        content: '';
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: #e3e3e3;
    }
    img{
        margin-inline: .5rem;
    }
}