body{
    font-family: "Poppins", sans-serif;
    color: #666;
}
h1,h2,h3,h4,h5{
    font-weight: 700;
}
p{
    font-weight: 300;
}
li{
    color: #666;
}
.titulo{
    color: $azul-oscuro;
    font-weight: 700;
    @include mobile{
        font-size: 2rem;
    }
    @include tablet{
        font-size: 2.2rem;
    }
}
.top-titulo{
    color: $amarillo;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    display: block;
}
.titulo-small{
    font-size: 20px;
    color: $azul-oscuro;
    font-weight: 700;
}
.linea-amarilla{
    height: 1px;
    width: 100%;
    background-color: $amarillo;
}
.separador{
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    &::before,
    &::after{
        content: '';
        display: inline-block;
        height: 1px;
        width: 100%;
        background-color: #e3e3e3;
    }
    img{
        margin-inline: .5rem;
    }
}
.whatsapp {
    position: fixed;
    z-index: 9999!important;
    border-radius: 50%;
    width: 65px;
    height: 65px;
    bottom: 1rem;
    right: 1rem;
    background-color: #25d366;
    animation: 1s infinite alternate shimmy;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    i {
        font-size: 42px;
        color: #fff;
    }
}
@keyframes shimmy{
    0%{
        transform:translate(0,0)
    }
    100%{
        transform:translate(-5px, -5px)
    }
}